



.header_style {
   
				background-color:#232735;
    			color:#fff!important;
  				color: white;
  			    padding: 1% 45% 1% 45% ;
     			overflow: hidden;
    			white-space: nowrap;
    			font-size: 200%;

}





.profile_pic {


	
    float: left ;
    height: 40%;
    width: 40%;
}

body {
	
     
    background-color:#E7DFDD;
}






